<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"> </script>
<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
<head>
  <title>Real Time Object Detection</title>
</head>

<body>
  <h1>Real Time Object Detection</h1>
  <img src="{{ url_for('video_feed') }}">
  <p id="prediction"></p>
  <p>Endorsed by Luce uwu</p>
</body>


<script>
  $(document).ready(function () {
        $.get("predict")
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        console.log('http://' + document.domain + ':' + location.port);
        
        socket.on('predict', function (msg) {
          console.log(msg);
          $('#prediction').html(msg['data']);
        });
  });
</script>

</html> 