<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"> </script>
<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
<script src="/socket.io/socket.io.js"></script>

<head>
  <title>Real Time Object Detection</title>
</head>

<body>
  <h1>Real Time Object Detection</h1>
  <img id="webcam" style="position: relative;" src="{{ url_for('video_feed') }}">
  <p id="prediction"></p>
  <p>Endorsed by Luce uwu</p>
</body>

<script>


  $(document).ready(function () {
    const socket = io();
    var button = document.createElement("button");
    button.innerHTML = "Take Picture";
    var body = document.getElementsByTagName("body")[0];
    body.appendChild(button);

    socket.on('predict', function (msg) {
      console.log(msg);
      $('#prediction').html(msg['data']);
    });

    button.addEventListener("click", function () {
      console.log("Picture taken!");
      $("#webcam").animate({opacity: 0.5}, "fast");
      $("#webcam").animate({opacity: 1}, "fast");
      socket.emit("picture", "test");
    });

  });
</script>


</html>